.ProjectCard{
    border: 1px solid white;
    display: flex;
    color: #ffffff;
    background-color: var(--light-purple);
    height: 100%;
    /* width: 50%; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
     /* margin: 0.5%; */
}

.image{
    width: 50%;
}

.cardDetails{
    padding: 2% 3.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.technologiesContainer{
   margin-bottom: 0.5rem;
}

.technology{
    display: inline-block;
    background: var(--font-color-red);
    background: #343a40;
    color: #ffffff;
    padding: 0.2rem 0.4rem;
    margin: 0.1rem;
    font-size: 0.7rem;
}

.description{
    margin-bottom: 0.5rem;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.linksContainer a{
    margin: 5px;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    max-width: 145px;
    color: #ffffff;
    transition:all 400ms ease-out;
    background: linear-gradient(to right, var(--font-color-red) 34%, #ffffff 65%);
    background-size: 300% 100%;
    background-position:left bottom;
}

.linksContainer a:hover{
    text-decoration: none;
    background-position: right bottom;
    color: var(--font-color-red);
}

div [class*="col-"] {
    padding: 0.5% !important;
  
}

@media screen and (max-width: 450px) {
    html {
     font-size: 14px;
    }
}
