.ProjectCard{
    border: 1px solid white;
    display: flex;
    color: #ffffff;
    background-color: var(--light-purple);
    height: 100%;
    max-height: 507px;
}

.image{
    width: 50%;
}

.cardDetails{
    width: 50%;
    padding: 2% 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name{
    font-size: 1.5rem;
    padding: 0.8rem;
}

.technologiesContainer{
    padding: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.technology{
    color: #ffffff;
    background-color: #343a40;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    font-size: 0.7rem;
}

.description{
   padding: 0.8rem;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem;
}

.linksContainer a{
    margin: 5px;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    max-width: 145px;
    color: #ffffff;
    transition:all 400ms ease-out;
    background: linear-gradient(to right, var(--font-color-red) 34%, #ffffff 65%);
    background-size: 300% 100%;
    background-position:left bottom;
}

.linksContainer a:hover{
    text-decoration: none;
    background-position: right bottom;
    color: var(--font-color-red);
}

div [class*="col-"] {
    padding: 1rem !important;
}

@media screen and (max-width: 450px) {
    
    .technologiesContainer,
    .description,
    .linksContainer{
        padding: 0.4rem;
        font-size: 12px;
    }

    .name{
        padding: 0.4rem;
        font-size: 18px;
    }

    .technology{
        padding: 0.15rem 0.25rem;
        font-size: 10px;
    }
}
