.About{
    min-height: 100%;
    margin-top: -8rem;
    padding: 180px 10% 1rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-purple);
    color: white;
}

.description{
    font-size: 1.5rem;
}

.skills{
    /* border: 1px solid; */
}

.skill{
    margin: 0 auto;
    background-color: white;
    height: 344px;
    max-width: 300px;
    padding: 2rem;
    color: black;
    opacity: 0.9;
    border-radius: 10px;
    transition: all 300ms ;
}

.skill:hover{
    opacity: 1;
    transform: translateY(-7%);
}

.svgIcon{ 
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
} 

.skillsTitle{
    font-weight: 600;
    margin-bottom: 1rem;
}

.skillNames p{
    margin: 0.5rem; 
}

@media only screen and (max-width: 37.5em){
    .About {
        margin-top: -2rem;
    }
}
