.About{
    min-height: 100%;
    margin-top: -8rem;
    padding: 180px 10% 4rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-purple);
    color: white;
}

.About h1{
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.me,
.skillSet{
    color: var(--font-color-yellow);
}

.description{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2.5rem;
}

.description p{
    white-space: pre-line;
}

.skills h1{
    margin: 3rem 0 1.5rem 0;
}

.skill{
    margin: 0 auto;
    background-color: white;
    height: 344px;
    max-width: 300px;
    padding: 2rem;
    color: black;
    opacity: 0.9;
    border-radius: 10px;
    transition: all 300ms ;
}

.skill:hover{
    opacity: 1;
    transform: translateY(-7%);
}

.svgIcon{ 
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
} 

.skillsTitle{
    font-weight: 600;
    margin-bottom: 1rem;
}

.skillNames p{
    margin: 0.5rem; 
}

@media screen and (max-width: 450px) {
    .description {
        font-size: 1.1rem;
    }
}