.Home{
    height: 100%;
    padding: var(--navbar-size) 10% 1% 10%;
    color: #f1ebbb;
    background-color: var(--light-purple);
    position: relative;
}

.titleContainer{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.description{
    font-weight: 100;
    font-size: 2.3rem;
    font-style: italic;
    color: var(--font-color-yellow);
    /* remove animation glitch */
    backface-visibility: hidden;
    /* remove animation glitch */
}

.viewProjects{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 80px;
    padding: 10px;
    font-size: 1.2rem;
}

.viewProjects span{
    color: #ffffff;
}

.viewProjects a{
    color: inherit;
}

.viewProjects a:hover{
    color: inherit;
    cursor: initial;
}

.viewProjects i{
    animation: jump 500ms  alternate infinite ease-in-out;
}

.viewProjects i:hover{
    color: inherit;
    opacity: 0.5;
    cursor: pointer;
    animation-play-state: paused;
}

@keyframes jump {
    form { transform: translateY(0);}
    to { transform: translateY(5px);}
}

@media only screen and (max-width: 37.5em){
    .title{
       font-size: 1.7rem;
    }

    .description{
        font-size: 1.5rem;
    }
}